@model GameVM;

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="card mb-3">
    <div class="card-header">Game</div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-7">
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Title)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.ReleaseDate)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.ReleaseDate)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Price)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Price)
                    </dd>
                </dl>
            </div>
            <div class="col-md-4">
                <img src="@(Model.ImageUrl ?? "/image/placeholder-img.jpg")" alt="image" style="height:200px;" />
            </div>
        </div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"><i class="bi bi-pen"></i></a>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="card-header">Platforms</div>
            <div class="card-body">
                <ul class="list-group">
                    @foreach (var platform in Model.Platforms)
                    {
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between">
                                @platform.Name
                                <partial name="_RemovePlatformPartial" model="new RemovePlatformVM { GameId = Model.Id, PlatformId = platform.Id }" />
                            </div>
                        </li>
                    }
                </ul>
                <a asp-action="AddPlatformsToGame" asp-route-gameId="@Model.Id" class="btn btn-primary mt-2"><i class="bi bi-plus"></i></a>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="card mb-3">
            <div class="card-header">Genres</div>
            <div class="card-body">
                <ul class="list-group">
                    @foreach (var genre in Model.Genres)
                    {
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between">
                                @genre.Name
                                <partial name="_RemoveGenrePartial" model="new RemoveGenreVM { GameId = Model.Id, GenreId = genre.Id }" />
                            </div>                            
                        </li>
                    }
                </ul>
                <a asp-action="AddGenresToGame" asp-route-gameId="@Model.Id" class="btn btn-primary mt-2"><i class="bi bi-plus"></i></a>
            </div>
        </div>
    </div>
</div>

<div>
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteGameModal"><i class="bi bi-trash3"></i></button> |
    <a asp-action="Index">Back to overview</a>
</div>

<div class="modal fade" id="deleteGameModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this game?</p>
            </div>
            <div class="modal-footer">
                <form asp-action="DeleteConfirmed">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Yes" class="btn btn-danger" /> |
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
                </form>
            </div>
        </div>
    </div>
</div>